.startersSection {
  padding: 2rem 0;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 100%;
  height: 600px;
}

.subDiv1,
.subDiv2 {
  width: 100%;
  display: flex;
}
.subDiv1 {
  height: 40%;
}

.subDiv2 {
  height: 30%;
}

.innerDiv1,
.innerDiv2 {
  height: 100%;
}

.innerDiv1 {
  width: 40%;
  background-color: #f7f7f7;
}

.innerDiv2 {
  width: 60%;
  background-color: #f7f7f7;
}
