.about-us-section {
    background-color: #603b88; /* Fundo roxo */
    color: white; /* Cor do texto branca */
    display: flex;
    align-items: center;
    padding: 5rem;
}
  
.about-us-text {
    width: 70%; /*Metade da largura da tela */
    padding: 5rem;
}
  
.about-us-text h3 {
    font-size: 3rem; /* Tamanho do título */
}

.content {
    display: flex;
    align-items: right;
    justify-content: right;
}
  
  /* Para o estilo do parágrafo de texto */
.about-us-text p {
    background-color: #000; /* Fundo preto */
    padding: 3rem;
}

.logo-container {
    display: flex;
    justify-content: center; 
    margin-top: 4rem; /* Adicione margem superior para criar espaço entre o texto e a logo */
}